{% extends "base.html" %}

{% block title %}Мои страницы{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for page in pages %}
            <div class="col">
                <div class="card h-100">
                    <img src="data:image/png;base64,{{ page.files }}" class="card-img-top" alt="image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ page.title }}</h5>
                        <p class="card-text">{{ page.description }}</p>
                        <a href="/page/{{ page.page_id }}" class="btn btn-primary mt-auto">Подробнее</a>
                        <form method="POST" action="{{ url_for('page_routes.delete_page', page_id=page.page_id) }}">
                            <button type="submit" class="btn btn-danger mt-2">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}