{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted">Автор: {{ page.owner_id }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Тег: {{ page.tag }}</h6>
            <p class="card-text">{{ page.description }}</p>

            {% if page.keywords %}
            <p class="card-text"><strong>Ключевые слова:</strong> {{ page.keywords }}</p>
            {% endif %}

            {% if page.body %}
            <div class="mt-3">
                <h3>Содержание:</h3>
                <p>{{ page.body }}</p>
            </div>
            {% endif %}

            {% if page.files %}
            <div class="mt-3">
                <h3>Файлы:</h3>
                <div class="row">
                    <div class="col-md-4">
                        <img src="data:image/png;base64,{{ page.files }}" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            ID страницы: {{ page.page_id }}
        </div>

        {% if admin %}
        <form method="POST" action="{{ url_for('page_routes.delete_page', page_id=page.page_id) }}">
            <button type="submit" class="btn btn-danger mt-2">Удалить</button>
        </form>
        <form method="GET" action="{{ url_for('page_routes.change_page', page_id=page.page_id) }}">
            <button type="submit" class="btn btn-primary">Редактировать</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}